@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Pretendard', sans-serif;
  color: #333333;
  border-color: #e8e8e8;

  /* flex 가운데 정렬 */
  .flex-center {
    @apply flex items-center justify-center;
  }
}

:root {
  background-color: white;
}

/* swiper */
.swiper-pagination-bullet {
  background-color: #f2dccb !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #f80 !important;
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome/Safari/Webkit */
}

/* drawer */
.menu :where(li) > :not(ul, .menu-title, details, .btn):active,
.menu :where(li) > :not(ul, .menu-title, details, .btn).menu-active,
.menu :where(li) > details > summary:active {
  background-color: white !important;
}

@keyframes snake {
  0%,
  100% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  80% {
    transform: translateX(-1px);
  }
}

.snake {
  animation: snake 1s infinite;
}

/* 폰트 패밀리 설정 */
@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard/Pretendard-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard/Pretendard-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard/Pretendard-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard/Pretendard-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard/Pretendard-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard/Pretendard-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard/Pretendard-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard/Pretendard-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard/Pretendard-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

/* Montserrat Thin */
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

/* Montserrat Extra Light */
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

/* Montserrat Light */
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Montserrat Regular */
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Montserrat Medium */
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Montserrat Semi Bold */
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Montserrat Bold */
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Montserrat Extra Bold */
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* Montserrat Black */
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
